[2019-09-27 19:50] nlynn opened #1 "Output as fitsfile + sources text file"
**M** Pipeline should output a fitsfile and text file with sources list

[2019-09-27 19:51] nlynn opened #2 "Documentation with Sphinx and readthedocs"
Generate documentation like [AstroAlign’s](https://astroalign.readthedocs.io) by using the Python tool [Sphinx](https://www.sphinx-doc.org/en/stable). All of the necessary information is already within `docstrings` throughout the Python code, and using this information, documentation like those above can be automatically generated.

We should also be able to add on additional information about usi

[2019-09-27 19:54] nlynn opened #3 "Use js9 to make clicky-click UI to view stuff"
**M** [JS9](https://js9.si.edu/) in-browser fits viewer. Useful for viewing stuff when ssh-ed into pipeline

[2019-09-27 19:58] nlynn opened #4 "Implement Alard-Lupton in memory through OIS"
**M** [OIS](https://github.com/toros-astro/ois)

[2019-09-27 19:58] nlynn opened #5 "Config Files"
**M** Configuration files: figure out how hotpants/OIS/sep are configured and create a YAML config file

[2019-09-27 19:59] nlynn opened #6 "Normalize image brightness by applying a gain and bias based on relative brightness of known stars"
**M**

[2019-09-27 20:02] nlynn opened #7 "Command line interface with click to run parts of the pipeline, incl. help text and man page"

[2019-09-27 20:04] nlynn opened #8 "Extract point spread functions for DIA from known sources"

[2019-09-27 20:05] nlynn opened #9 "Collect light curves for transient candidates over all images and use them to filter candidates"
Use integration of PSF instead of peak pixel

[2019-09-27 20:05] nlynn opened #10 "Add filtration techniques"
e.g. checking if a source appears as a transient candidate in x% of images, etc.

[2019-09-27 20:06] nlynn opened #11 "Make a database to store science/processed/results and access+view easily"

[2019-09-27 20:06] nlynn opened #12 "Logging"
Print more information about what the pipeline is doing with a way to filter it
--log-level=[MAGIC](http://catb.org/esr/jargon/html/magic-story.html)

[2019-09-27 20:07] nlynn opened #13 "PyLinting"
Clean up existing code with pylint

[2019-09-27 20:07] nlynn opened #14 "Optimize reference star lookup with a wider cone query"
Identify the 'same' stars between images with RA/DEC

[2019-09-27 20:08] nlynn opened #15 "Clean up the way sources are handled throughout the pipeline"

[2019-09-27 20:08] nlynn opened #16 "Create unit tests"

[2019-09-27 20:09] nlynn opened #17 "Test detection of known transient objects"

[2019-09-27 20:09] nlynn opened #18 "Miscellaneous"
Run `git grep -E 'TODO|FIXME'`

[2019-10-01 20:11] #1 closed, assigned to nobody

[2019-10-04 20:51] nlynn opened #19 "Temp files not overwriting"

[2019-10-05 19:41] #19 closed, assigned to nobody

[2019-10-06 20:16] varun-iyer commented on #3
Much harder than I thought. Good luck.

[2019-10-06 20:26] varun-magesh opened #20 "Make sources.txt Conversion a Function"
Currently, it is hastily thrown in main as a fix for #1

[2019-10-06 20:29] varun-magesh opened #21 "Find Reference Image in a more intelligent way"
Maybe get `SEEING` from headers or something, right now it finds the image with the lowest mean.

[2019-10-08 00:46] varun-magesh commented on #3
JS9 ended more difficult than I thought. A more doable task might be to get `pyds9` to open over X port forwarding. Take a look at [vis.image](https://github.com/ucsbdeepspace/sdi_pipeline/blob/133e72d786704c1dadadd1c9682696a7d7a3f511/vis.py#L15) for where this is done.

[2019-10-08 00:47] varun-magesh commented on #4
We want to implement OIS as a replacement for hotpants because it allows us to try a few different DIA algorithms including Bramich and Adaptive Bramich while maintaining hotpant’s Alard-Lupton. It also operates entirely in-memory so it’ll get rid of tmpdir nastiness. Current subtraction is done in [`subtract.subtract`](https://github.com/ucsbdeepspace/sdi_pipeline/blob/133e72d786704c1dadadd1c9682

[2019-10-08 00:54] varun-magesh commented on #5
Configurable values like threshold amounts, file directories, etc. should go in a `yaml` file rather than directly in python. This is currently in [`config.__init__`](https://github.com/ucsbdeepspace/sdi_pipeline/blob/133e72d786704c1dadadd1c9682696a7d7a3f511/config/__init__.py#L19).

[2019-10-08 00:54] varun-magesh commented on #6
This is currently underway. We need to be integrating around sources rather than using peak pixels but steps are being made in the right direction.

[2019-10-08 00:58] varun-magesh commented on #7
We want to be able to use the pipeline comfortably with a CLI. It should be able to accept a variety of input and outputs, perform subcommands, and print help texts. Check out the python library `click` for this function. Examples:
[code]

[2019-10-08 00:59] varun-magesh commented on #8
We can find a list of known reference sources with `sources/reference.py`; we should extract PSFs from these known functions to feed them into hotpants rather than from the image as a whole. Probably find some kind of PSF extraction/kernel thing on AstroPy.

[2019-10-08 04:59] csaranbalaji commented on #13
I would like to take this.

[2019-10-08 06:51] nlynn opened #23 "Lab Notes Document"
Ongoing lab notes with project updates, major changes, and anything else that's relevant placed onto the google drive folder. Easy place to refer to when writing actual paper.

[2019-10-08 06:57] nlynn opened #24 "Pipeline Paper"
Begin first paper on what this project has worked on. Refer to lab notes as a starting place. More information will be coming soon. Assign yourself and contact me if you are interested.

[2019-10-15 00:43] nlynn commented on #23
Document is up on the google drive under our papers/notes

[2019-10-15 00:43] #23 closed, assigned to nlynn

[2019-11-16 16:23] nlynn opened #25 "sep.extract outputs 0s for starting and ending images"
Arrays for first and last couple images end up being just 0s for some reason

[2019-11-18 21:35] varun-magesh commented on #25
I was unable to reproduce this error using data in `/home/varun/smalldata/*.fz` and master pipeline. We need more information about the circumstances which cause the error.

[2020-07-15 18:49] #2 closed, assigned to nobody

[2020-07-15 18:49] #3 closed, assigned to nobody

[2020-07-15 18:49] #4 closed, assigned to nobody

[2020-07-15 18:49] #5 closed, assigned to nobody

[2020-07-15 18:49] #6 closed, assigned to varun-magesh, PK0207

[2020-07-15 18:49] #7 closed, assigned to nlynn

[2020-07-15 18:49] #8 closed, assigned to nobody

[2020-07-15 18:49] #9 closed, assigned to nobody

[2020-07-15 18:49] #10 closed, assigned to nobody

[2020-07-15 18:49] #11 closed, assigned to nobody

[2020-07-15 18:49] #12 closed, assigned to nobody

[2020-07-15 18:49] #13 closed, assigned to nobody

[2020-07-15 18:49] #14 closed, assigned to nobody

[2020-07-15 18:49] #15 closed, assigned to nobody

[2020-07-15 18:49] #16 closed, assigned to nobody

[2020-07-15 18:49] #17 closed, assigned to nobody

[2020-07-15 18:49] #18 closed, assigned to nobody

[2020-07-15 18:49] #20 closed, assigned to nobody

[2020-07-15 18:49] #24 closed, assigned to PK0207, nlynn

[2020-07-15 18:49] #25 closed, assigned to nobody

[2020-07-15 19:02] varun-magesh opened #26 "Reference or mean star based adjustment of light curves"

[2020-07-15 19:02] varun-magesh opened #27 "Run clustering on db changes and actually update mean RA/Dec/Flux values"

[2020-07-15 19:08] varun-magesh opened #28 "Mask out alignment dead space from DIA"

[2020-07-15 23:27] varun-magesh opened #29 "Don’t use SEP to extract from subtracted images"
SEP is really intended for science images. It won’t catch dark/negative regions (which are still differences). Look for different, statistically oriented blob-detectors.

Maybe take a leaf from PTF’s book --- train a small classifier to differentiate between weird DIA artifacts and real differences. Find what a ‘real’ diff looks like using simulations?

[2020-07-15 23:29] varun-magesh opened #30 "Evaluate and Improvise Database Clustering"

[2020-07-16 23:57] PK0207 opened #32 "Incorporate light curve analysis techniques from Lomb Scargle Paper"
Implement methods outlined in https://iopscience.iop.org/article/10.3847/1538-4365/aab766/pdf

- [ ] 2. Compute the window transform using the Lomb–Scargle periodogram, by substituting g_n1 for each t_n and making sure not to precenter the data or use a floating-mean model. Examine this window function for dominant features, such as daily or annual aliases or Nyquist-like limits
- [ ] 3. Use thefl

[2020-12-10 22:03] #29 closed, assigned to varun-magesh

[2020-12-10 22:03] varun-magesh commented on #29
Turns out it is okay

[2020-12-10 22:05] #28 closed, assigned to nlynn

[2020-12-10 22:15] #26 closed, assigned to nobody

[2021-02-09 06:40] nlynn opened #38 "Update abstract"

[2021-02-09 06:41] nlynn opened #39 "Improve quantitative discussion of Adaptive Bramich results"

[2021-02-09 06:41] nlynn opened #40 "quantitative results for dbscan"

[2021-02-09 06:41] nlynn opened #41 "Complete light curve sections with conclusions"

[2021-02-09 06:41] nlynn opened #42 "\texttt all code functions"

[2021-02-09 06:41] varun-magesh opened #43 "Grammar & style read-through"

[2021-02-09 06:41] nlynn opened #44 "Update Andromeda mosaic with Alex's sectioning"

[2021-02-09 06:41] varun-magesh opened #45 "Figure 17: text too small"
Text too small on most figures made by us. Should make figures using better graphics software.

[2021-02-09 06:41] nlynn opened #46 "Fix figure 17 as per Cole's note"

[2021-02-09 06:41] nlynn opened #47 "Plot false positives in figure 16"

[2021-02-09 06:44] varun-magesh commented on #30
@kyyip , are the changes you made actually in the pipeline now?

[2021-02-09 06:44] #27 closed, assigned to nobody

[2021-02-13 02:19] nlynn commented on #44
Fixed mosaic, need to update the sections referenced elsewhere in the document.

[2021-02-22 19:15] varun-magesh opened #48 "Page 10: Recreate numbers with adaptive Bramich?"

[2021-02-22 19:17] varun-magesh opened #49 "Histogram Plots (Fig. 15) Fix Fonts"

[2021-02-22 19:23] nlynn commented on #38
Last sentences should be updated after full paper and results are written.

[2021-02-22 19:26] varun-magesh commented on #44
This is probably Alex --- we'll assign him once we know his github.

[2021-02-22 19:29] varun-magesh opened #50 "Relate dwell time + SNR calculations in introduction to results throughout the paper"
Specific areas that could use this are the observation section; justifying our observations w.r.t. expected flux/SNR from civ. class and dwell time.
Other areas are differencing results + light curve results & simulation; comparing the results we achieved with the kinds of signals we'd get from DE communications.

[2021-02-22 19:32] nlynn commented on #50
Also re justify why we are doing optical SETI

[2021-02-22 19:33] varun-magesh commented on #50
Some answers to that: unexplored, it's the telescopes we have, physical constraints on directed energy

[2021-02-22 19:38] varun-magesh opened #51 "Broken Citation, Page 5, NumPy"

[2021-02-22 19:42] nlynn opened #52 "Update acknowledgements"

[2021-02-22 19:42] nlynn opened #53 "Update conclusion"

[2021-02-22 19:42] nlynn opened #54 "Add into section 2 (Data collection) how much data we have collected in total."

[2021-02-23 00:46] #46 closed, assigned to nobody

[2021-02-23 00:49] nlynn opened #55 "Change font on graphs we created to be consistent with the font on the figure captions"

[2021-02-23 02:59] varun-magesh commented on #48
On page 9, under IQR

[2021-03-01 21:23] rodum012 opened #56 "Save Path Error in __Main__.py"
Line 40

[2021-03-02 00:44] nlynn commented on #45
Need to figure out which font to use. Also need to update figure 9

[2021-03-28 20:17] varun-magesh commented on #30
@kyyip

[2021-03-28 20:21] varun-magesh commented on #39
This paragraph should have discussion on how these numbers were produced --- what diata did we use, how many trials, what is "low to moderate", etc.

[2021-03-28 20:31] varun-magesh commented on #39
This data might have been produced by William. We might want to just re-generate this.

[2021-03-28 20:43] varun-magesh commented on #39
Yael will provide soon.

[2021-03-28 20:44] #51 closed, assigned to nobody

[2021-03-28 21:07] varun-magesh commented on #40
a very brief, quantitiative discussion that's less like "here is how this really cool algorithm works" (which i'm really fond of but is for a future paper) and more like "these data show that this alrogithm works"

[2021-03-28 21:07] varun-magesh commented on #42
@nlynn This is a good one for Edgar.

[2021-03-28 21:10] varun-magesh commented on #43
@nlynn One for edgar?

[2021-03-28 21:11] nlynn opened #57 "Add in assumptions for image simulations in paper"
Stuff like integration time, QE, etc

[2021-03-28 21:11] #44 closed, assigned to nlynn

[2021-03-28 21:31] varun-magesh commented on #54
Resolved.

[2021-03-28 21:31] #54 closed, assigned to varun-magesh

[2021-03-28 21:31] varun-magesh commented on #55
Cole & Yael are on this

[2021-03-28 21:32] varun-magesh commented on #53
Depends on #41

[2021-03-28 21:33] varun-magesh commented on #49
Merged into #55

[2021-03-28 21:33] #49 closed, assigned to nobody

[2021-03-28 21:33] #45 closed, assigned to nlynn

[2021-03-28 21:33] varun-magesh commented on #55
Fig 17 & 15 specifically need larger fonts

[2021-03-28 21:34] varun-magesh commented on #57
Cole is on this

[2021-03-28 21:34] varun-magesh commented on #56
Fixed by new pipeline

[2021-03-28 21:34] #56 closed, assigned to nobody

[2021-03-28 21:35] varun-magesh commented on #47
This is Cole

[2021-03-29 21:32] #50 closed, assigned to varun-magesh, nlynn

[2021-04-21 17:52] nlynn opened #59 "Mask align dead regions from DIA"

[2021-04-21 17:57] #42 closed, assigned to nobody

[2021-04-21 18:10] nlynn opened #60 "Find optimum placement within the camera of each mirror."

[2021-04-21 18:11] nlynn opened #61 "Test camera in Code V (airy disk, etc.)"

[2021-04-21 18:11] nlynn opened #62 "Add mirrors to the camera"

[2021-04-21 18:56] varun-magesh commented on #48
This is the stuff with Yael + recalculaing for Bramich/Adaptive

[2021-04-21 19:24] MichaelMcDonald73 opened #63 "Check on the progress of the ordered parts"

[2021-04-21 19:25] MichaelMcDonald73 opened #64 "Talk to Jatila about the getting the parts shipped to Michael's house"
Alternatively, figure out plans to work on the Camera over the summer at UCSB

[2021-04-21 19:27] MichaelMcDonald73 opened #65 "Assemble a test bench to test the dichroic mirror and cmos cameras."

[2021-04-21 19:28] MichaelMcDonald73 opened #66 "Determine the lens placements to match the f# of the CDK20"

[2021-04-22 03:41] nlynn commented on #63
Emailed Jatila and submitted 2nd parts order list

[2021-04-23 15:30] varun-magesh commented on #21
This is done in the new version of the pipeline which will be merged.

[2021-04-23 15:30] #21 closed, assigned to EdgarMao

[2021-04-23 15:36] varun-magesh opened #67 "Mask Bright Stars from Subtract"
When there are very bright stars (which are known not-transients) in images, subtraction gets thrown out of whack because it is doing a global optimum.

Telling subtract to ignore bright stars would be a way of fixing this problem. We can do this by adding a mask (through a `numpy.ma` MaskedArray) of the reference stars/other bright sources in the image.

[2021-04-26 23:39] YaelBB commented on #39
The script for generating these values is in the directory /home/yael/sdi/histogram/histogram.py

To calculate the standard deviation of the images, we used to numpy.std() function with the image data

Image data came from fits.getdata() for each image file– the images used were residual images from running the pipeline at different sections (the only one I know from the top of my head is what is

[2021-04-27 01:16] PK0207 opened #68 "Load Database, easier to use script"
**The bug**
The current scripts (loaddb.py and test.py) either are too difficult to use and break often, or are not up to date with the usage of record and the database.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/home/pkotta/'
2. Run 'python3 test_new_2.py'
3. Scroll down to the bottom
4. The error will either come up as a template path UNIQUE sqlalchemy error, or an empty irdf

[2021-04-28 19:31] varun-magesh opened #70 "`subtract` should support AdaptiveBramich as an option"
- [x] figure out how to include the custom `ois` in `sdi` :star: **hard** :star:
- [x] create a new 'method' argument for `subtract`
- [ ] Implement the AdaptiveBramich `optimal_image` in `subtract`
- [ ] Have good error handling if there is no GPU
- [x] add `method` option in `subtract_cmd`

[2021-04-28 19:31] varun-magesh opened #71 "Speed up `ref`"
`ref` currently takes a really, really long time. We should figure out a way to speed it up. Lowprio.

[2021-04-28 19:31] varun-magesh opened #72 "Implement `sdi db-index`"
This command would load all data from given files into a database.
This is a monster; we'd need to port `record` and `cluster` over.

[2021-04-28 19:31] varun-magesh opened #73 "`extract` should include ra & dec information"
Currently, `extract` gives back what `sep` gives us. This is pretty complete data, but does not have `ra` and `dec` columns which are pretty important. We should get `ra` and `dec` using the WCS header and x-y coords and add these columns to the `XRT` table.

[2021-04-28 19:31] varun-magesh opened #74 "`ref` should include x-y information"
This issue is closely related to #36; as a matter of convenience, we should copy over the x-y coordinates from the `CAT` table so we can locate reference stars on an image.

[2021-04-28 19:31] varun-magesh opened #75 "Generate docs correctly with Sphinx"
Currently, our Sphinx pages at ucsbdeepspace.github.io/sdi_pipeline is... not really working. However, our code is in fact decently documented, and we do have an open issue improving it (#25).

It would be really nice if we could have the documentation generated nicely.

Some fixes will probably be necessary for the new project structure.
Ask Robby for the Sphinx generation stuff.

[2021-04-28 19:31] varun-magesh opened #76 "Implement SNR As a Library Feature & Command"
`_scripts/snr`is a helper function that accepts a list of hduls and returns the one that has the highest signal to noise ratio.
While this is nice, it would be helpful to be able to use it in a more flexible way, including on the command line. Ultimately, we would like to be able to use `snr` as an sdi command which adds an `snr` value to the FITS header of the appropriate data table.

- [x] Move

[2021-04-28 19:31] varun-magesh opened #77 "`subtract` should add RA/DEC information to the header"
Currently it's very easy for users to lose track of the associated data and have no clue what section or coordinates are associated with their residual data.

[2021-04-28 19:31] varun-magesh opened #78 "Pylint Integration through Github"
Currently, coding standards and documentation are not strictly enforced. We can enforce them easily in PRs if we have CI with Pylint.

[2021-04-28 19:31] varun-magesh opened #79 "Implement `script` and `interact`"
It would be cool to have `script` and `interact` commands that drop you in a terminal/run a script with `hduls_in` defined and `hduls_out` to fill.

[2021-04-28 19:31] varun-magesh opened #80 "Implement `sdi db-session`"
`sdi db-session`

- [ ] import db definition file (probably simplify)
- [ ] make session function that opens and/or creates a session given a path
- [ ] Add this command to the cli

[2021-04-28 19:31] varun-magesh opened #81 "Make version number accessible"
When we have stability and a versioning system, it would be helpful to know what version (and path) of `sdi` is running.

We would like to have `sdi --version`and `sdi.__version__` return the current version of sdi that is in use AND the path to the actual python project.

There is a right way to do this with setuptools (https://stackoverflow.com/questions/2058802/how-can-i-get-the-version-defined

[2021-04-28 19:31] varun-magesh opened #82 "Implement `norm_sources`"
This function appends an 'refmag' and 'refmagerr' field to a catalog. This field contains a magnitude derived by comparing sources with reference stars from remote databases and calculating a relationship between fluxes in each image and magnitudes from reference stars

[code]

[2021-04-28 19:31] varun-magesh opened #83 "Unit Testing"
Currently, when we make changes to the pipeline, we (and reviewers) have to manually download and verify that it works. Often there are gaps that are only discovered later. We should have automated tests that we can run locally and through GitHub that verify that the pipeline works as intended.

This unit testing is primarily aimed at code functionality, not scientific efficacy, which should be do

[2021-04-28 19:31] varun-magesh opened #84 "Write docstrings & generally pylint"
Our code is decently documented --- not bad actually. But several modules and functions are missing docstrings, which makes them more difficult to use and does not generate documentation for them. We should `pylint` (style check) and write docstrings for all pipeline files.

- [x] pylint align.py
- [x] pylint combine.py
- [x] pylint fitsio.py
- [x] pylint display.py
- [x] pylint snr_function.py
-

[2021-04-28 19:31] varun-magesh opened #85 "Implement `secid`"
This operator will add our section id information to the HDU at the specified index HDULs that are passed in. This help us prepare all of the data better to be loaded into a database.

@Alex should be on this.

function signature:
[code]

[2021-04-28 19:31] varun-magesh opened #86 "Implement `collate`"
This command line and API function should do what `cluster` generally does.
Given a collection of HDUList and a TableHDU specified by an `EXTNAME`, return a collection of HDUList with the `EXTNAME` table organized such that the Nth index of each table refers to the same sky object (as best as we can tell).

[2021-05-02 02:09] varun-magesh commented on #70
@YaelBB:

Here are the steps just to get things up and running with `ois`, before we hit the tasks to incorporate it correctly above:

- [x] Make a `venv`
- [x] Install the ois version hosted at `https://github.com/varun-iyer/ois`
- [x] Install sdi from `https://github.com/ucsbdeepspace/sdi_pipeline`
- [x] Modify `subtract` to use AdaptiveBramich

[2021-05-03 23:17] MichaelMcDonald73 commented on #63
Emailed Jatilia Again. She mentioned that she gave the lists to Nick to order; so hopefully she will get back to me soon

[2021-05-03 23:38] benfogiel commented on #83
Basic implementation for each test is done. Talked to Varun earlier today to further improve tests by comparing test outputs to pre-generated outputs that are known to be accurate. Currently working on these improvements.

[2021-05-03 23:53] MichaelMcDonald73 commented on #66
Found a lens from Edmund optics that is fairly close to the f# of the CDK20. Ideally, we want to have an initial collimating lens that is 25-35mm in diameter. Since the f# of the CDK20 is 6.8, the 25-35mm lens needs to have focal length 170-238mm. The best option I could find was a lens with antireflective coating in the 400-700nm region that was 25.4mm in diameter with focal length 150mm. This is

[2021-05-04 01:29] PK0207 opened #87 "Simulated RR Lyra lightcurve"
**Describe the science task**
See if the method used currently for the process of referencing, normalizing, and producing a lightcurve works for a simulated set of images.

**Proposed Direction**

1. Build a set of 100+ simulated images of an RR Lyra based on a generic magnitudes list
2. Run the pipeline on the images, run the database code.
3. Run phase diagram on it.

**Desired Results**
The gen

[2021-05-04 02:59] benfogiel commented on #83
Just committed current progress (documented in last comment) to Unit-Testing branch

[2021-05-11 01:04] benfogiel commented on #83
Finished the combine, read, and write test functions, ready for review. Still working on the other test functions. Haven't submitted any merge requests because don't think it is possible to merge a selective portion of a branch (might be wrong)

[2021-05-11 01:40] coleslenkovich opened #90 "Run Simulations on brighter transients"
Continue magnitude tests into brighter transient sources (down to magnitude 12). Add results into graph -> Detection rate should continue at about 100%, there is a massive problem if not.

[2021-05-11 01:45] #59 closed, assigned to langeleri

[2021-05-11 01:48] coleslenkovich commented on #47
Varun and I discussed over Slack a while ago, however I think we should focus on the F1 statistic in the paper. (I briefly describe why in write-up). As far as a plot for F1 goes, it does not make since to graph against magnitude since it depends greatly on the detection % and the graph ends up looking exactly like our magnitude detection plot.

[2021-05-18 00:37] #47 closed, assigned to coleslenkovich

[2021-05-18 00:42] coleslenkovich opened #92 "Plot Magnitude Distribution for SKYMAKER Simulations"
**Describe the science task**
Plot distribution of created objects from SKYMAKER to get an idea for the luminosity distribution of objects it uses.

**Proposed Direction**
Simply simulate many images and categorize the objects created by magnitude. Plot the results

**Desired Results**
A better understanding of how the magnitudes are distributed in simulations. Current thought is that dimmer sourc

[2021-05-18 01:17] MichaelMcDonald73 opened #93 "Light Trail Camera"
There is a way to detect transient stars by analyzing their star trails. By setting up a camera to not correct for the rotation of the earth, stars will appear to streak across the sky. If that star is a variable, its magnitude will change as it streaks, and this change is detectable using machine learning techniques. A Stanford paper uses this technique with simulated images.

We want to modify t

[2021-05-23 00:09] nlynn commented on #32
Natalie:
- [ ] Determine false positive rates
- [ ] F1 statistic--rigorous statistical treatment

[2021-05-23 00:12] PK0207 commented on #87
relative brightness, normalization, LCO type data

[2021-05-23 00:33] PK0207 commented on #82
Transformation between Gaia and PTF spectral data,  and then find the magnitudes by doing scp.optimize I think

[2021-05-23 02:38] PK0207 commented on #82
Finished writing the part about adding the magnitudes to the CAT table, but it adds a whole new table instead of just overwriting CAT so have to see what to do there. Also, have to learn how to use the Gaia transformation table. PTF uses SDSS g, g-r filters, and gaia transform to that is supposedly not the best but they have errors listed so that's fine. Finally, have to put the whole thing in a f

[2021-05-23 02:45] PK0207 commented on #87
HDULs still need to have the SCI extension, not sure how to specify a source and cat extension

Command:  sdi read -d image_fits/ align subtract extract write -d sditest_output
KeyError: "Extension 'SCI' not found."

[2021-05-25 01:02] #85 closed, assigned to agthomas-ucsb

[2021-05-30 23:05] YaelBB commented on #48
Summary of Stats from Residual Images:

Minimal Galactic Structure:
Section 33: Bramich STD– 59.33051585375081, Adaptive STD– 36.825878903666066
Section 47: Bramich STD– 55.28482827114644, Adaptive STD– 46.99958620793718

Low-Moderate Galactic Structure:
Section 40: Bramich STD– 26.9574444337299, Adaptive STD– 22.658201809882986
Section 41: Bramich STD– 92.69887590839127, Adaptive STD– 46.99958620

[2021-05-31 00:48] PK0207 commented on #87
Residuals stars are barely visible, and the XRT file that contains the extracted data comes up empty

[2021-05-31 00:50] PK0207 commented on #87
**ERROR** Big-endian buffer not supported on a little-endian compiler
**FIXED**

![image](https://user-images.githubusercontent.com/30590837/120125990-a34a0580-c16f-11eb-9e6a-a9ece822fcdd.png)
BITPIX changed in header info

[2021-05-31 00:55] PK0207 commented on #87
**ERROR** ['SCI'] not found
**FIXED** Added ['SCI'] to HDUL tags (Cole and Kelvin)

[2021-05-31 21:49] benfogiel commented on #83
pull request submitted

[2021-05-31 22:48] coleslenkovich commented on #87
RR Lyrae only shows up on certain images in the residual set. Residual images look empty, but a few of the images contain the RR Lyrae at (1600,1050).
 - Lowering the background noise added in false transients into residual images and didn't noticeably affect our ability to the RR Lyrae

[2021-06-23 18:00] #64 closed, assigned to nobody

[2021-06-23 19:06] MichaelMcDonald73 commented on #61
First of all, we need to get access to the Code V software. Code V is installed on some of the lab computers and can also be accessed remotely by connecting to the psr computers. I do not think that they have a free student license, but I believe that we can get a demo. https://www.synopsys.com/optical-solutions/codev/application-gallery.html

Then we need to learn how to use the software to model

[2021-06-23 19:11] MichaelMcDonald73 opened #96 "Camera Design"
Look into resources for engineering a design for the camera. This design will need to house all the components of the camera and be mountable to the Planewave CDK 20". Good examples of a camera design can be found in the Hipercam and Chimera cameras

[2021-06-23 19:13] #63 closed, assigned to nobody

[2021-06-23 19:17] MichaelMcDonald73 opened #97 "Assemble Test Bench"
With the ordered parts, we can start to physically assemble and test the materials of our build. This will require us to have a physical space in Broida for us to work, which I will need to talk to Lubin about. I believe that 1340 should be open and available to use, but I will get permission first. Then we can get the components and start putting them together.

[2021-06-23 22:34] nlynn opened #98 "Simulate new images for ML"
Point of these images is to determine the minimum mag difference we can detect using neural networks

**All images:**

- **412x412 pixels**
- 10 sec integration
- 1 variable star
- 2 images (eg one image with variable at 16 mag, 2nd image with variable at 17 mag)
- use 16/17 mag range
- Lets start with 1K pairs of images per set

**Image variations:**

- For each image variation, need same pairs w

[2021-06-23 22:35] nlynn opened #99 "Upgrade Starmaker Memory to account for the number of images being made for machine learning"

[2021-07-02 01:49] varun-magesh commented on #86
@kyyip pr #94 addresses this.

[2021-07-02 01:57] #84 closed, assigned to EdgarMao

[2021-07-06 00:24] EdgarMao commented on #75
This is an initial draft of an up-to-date documentation page: #100

[2021-07-11 11:42] PK0207 commented on #74
I see that it's in my copy, and I think what I did was write a new CAT file after the extract process, and used those x and y coordinates.

[2021-07-11 12:29] PK0207 opened #101 "ref.py - can't load empty tables to the hdul using fits.BinTableHDU, and need to get rid of nans in data for linalg analysis"
**Describe the bug**
The error that shows up is:
`TypeError: Table data has incorrect type.`
When using `ref.py` in the following pipeline command:
`sdi read -d GTAnd_SCI_small/ align subtract extract -w CAT 1 ref write -d sdiPTF_output_final/`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/home/pkotta/pipeline_editing'
2. Run the venv using the following command: `source ./bin/acti

[2021-07-11 12:32] PK0207 commented on #87
Remade the images with lc_GTAnd.csv instead of GTAnd_PTF_lc.csv, images are called image_fits3

[2021-07-11 13:27] PK0207 commented on #82
Method to add mag and magerr for images taken in the SDSS12 g-filter implemented in the `norm_sources` branch. Under file name `PTF_norm.py`

[2021-07-11 13:31] PK0207 commented on #82
`background_norm.py` pushed up to `norm_sources` branch. Need input from Kelvin as to how to turn this script into a general function as it is heavily reliant on collate.

[2021-07-11 18:09] varun-magesh commented on #101
What line does the TypeError appear in?

[2021-07-11 18:10] varun-magesh commented on #99
I believe this has been done.

[2021-07-11 18:10] #99 closed, assigned to varun-magesh, nlynn

[2021-07-11 19:05] PK0207 commented on #101
Appears in the following line: `hdul.append(fits.BinTableHDU(data=output_table, header=header, name=extname))`
I think in master it's line 123

[2021-07-12 15:35] PK0207 commented on #101
I added a try except loop, making it run a pass in case it runs into a TypeError and it worked on a small set of 6 images, running now on all images. This is a bandaid fix for now.

[2021-07-12 20:43] PK0207 commented on #101
Ran it all on images, it seemed to work! This was without phot_bp_mean_mag though, which I need for normalization.

[2021-07-13 00:36] PK0207 commented on #87
flux not loaded into resulting CAT table after everything is run through the pipeline, will run again to see if this is a recurring issue.
EDIT: Happened again on the second run. This does not happen to normal files run through, and has not happened before so I don't know what's going on.

[2021-07-14 18:15] PK0207 opened #102 "A way to add a CAT file"
**Is your feature request related to a problem? Please describe.**
ref.py relies on the presence of a CAT file, which is never loaded into the resulting hdul, and I have to rename the XRT file to the CAT file. Though this is a fix that works, I would think that being able to find reference stars for background stars would be more appropriate, as currently with only the XRT file (renamed to CAT in

[2021-07-14 18:44] varun-magesh commented on #102
The extract command was intended for this use, the command you described should work. What is the state of the hduls after the first extract in your suggested command?

[2021-07-14 21:42] nlynn opened #103 "Implement PCA"
Implement Brandt's PCA code to try to improve error analysis.

[2021-07-14 21:43] nlynn commented on #103
- [x] Implement Brandt's code
- [ ] See if we can interpret signal/noise in the principle components
- [ ] Determine PCA's place on the pipeline

[2021-07-15 13:24] PK0207 commented on #102
Command: sdi read -d GTAnd_SCI/ align extract -w CAT 1 write -d sdiPTF_output/
When I do the first extract, I get a CAT file with 302 sources in it.

sdi read -d GTAnd_SCI/ extract -w CAT 1 write -d sdiPTF_output/
After doing this, I get 247 sources (without align)

If I run the command above, what I get is just the SCI and the XRT extensions

[2021-07-15 21:54] PK0207 opened #104 "Pipeline doesn't run with PTF images in a virtual environment"
**Describe the bug**
When running PTF images through the version of the pipeline that is on the `master` branch, while in a virtual environment (venv), the following error shows up:
`ValueError: Big-endian buffer not supported on little-endian compiler`

This error arises in `align.py`, and `subtract.py` when working in the virtual environment.

The issue **does not** arise when working with the i

[2021-07-17 15:20] PK0207 commented on #82
For the normalization method using Gaia data, sometimes the REF data is shorter than the CAT data. Since REF comes from CAT data, the size of the A-matrix must be determined by the length of REF. Implementing today.

[2021-07-20 18:58] benfogiel commented on #104
Fixed align.py. Looks like the LCO and PTF images were storing themselves differently in memory either as little or big endian. The venv compiler can only compile little endian, hence, the error.

Solution:
PK had the right idea with swapping the order bytes are stored with `.data.byteswap().newbyteorder()` because little endian stores bytes in the reverse order as big endian does. However, this m

[2021-07-21 00:53] #104 closed, assigned to PK0207, benfogiel

[2021-07-23 18:55] PK0207 commented on #103
Brandt's code runs on some test images, dunno how to interpret the result quite yet.

[2021-07-26 22:10] nlynn opened #105 "Get TensorFlow set up on Starmaker with GPU support"

[2021-07-26 22:14] nlynn opened #106 "Subtract simulated images and make ML training sets"
Each of the 48 simulated sets should be subtracted with numpy, adaptive bramich, and bramich. Then those residuals need to be made into png files.

**Image Sets w/ Numpy**

- [ ] 1 mag diff, sparse density, no trail, numpy
- [ ] .75 mag diff, sparse density, no trail, numpy
- [ ] .5 mag diff, sparse density, no trail , numpy
- [ ] .25 mag diff, sparse density, no trail, numpy

- [ ] 1 mag diff, me

[2021-07-26 22:19] nlynn commented on #106
**Image Sets with Bramich**
Each set should be accompanied by its baseline set

- [ ] 1 mag diff, sparse density, no trail
- [ ] .75 mag diff, sparse density, no trail
- [ ] .5 mag diff, sparse density, no trail
- [ ] .25 mag diff, sparse density, no trail

- [ ] 1 mag diff, medium density, no trail
- [ ] .75 mag diff, medium density, no trail
- [ ] .5 mag diff, medium density, no trail
- [ ] .25

[2021-07-26 22:19] nlynn commented on #106
**Image Sets with Adaptive Bramich**
Each set should be accompanied by its baseline set

- [ ] 1 mag diff, sparse density, no trail
- [ ] .75 mag diff, sparse density, no trail
- [ ] .5 mag diff, sparse density, no trail
- [ ] .25 mag diff, sparse density, no trail

- [ ] 1 mag diff, medium density, no trail
- [ ] .75 mag diff, medium density, no trail
- [ ] .5 mag diff, medium density, no trail
-

[2021-07-26 23:31] EdgarMao commented on #75
A documentation page has been successfully generated and is currently online: https://ucsbdeepspace.github.io/sdi_pipeline

Instructions about updating the documentation page after making changes to the pipeline has been given in the following wiki page: https://github.com/ucsbdeepspace/sdi_pipeline/wiki/Updating-Documentation-with-Sphinx . Further information about adding contents onto the docume

[2021-07-26 23:31] #75 closed, assigned to EdgarMao

[2021-07-26 23:32] MichaelMcDonald73 commented on #96
Have started a design in NX that is reasonably buildable. The design consists of 4 parallel rails that are in a square formation. Each component of the camera will be able to slide along the rail, making the system highly adjustable. This will help with fine-tuning the camera. Each part of the camera was design as simply as possible in order to make building it easier.

[2021-07-26 23:34] MichaelMcDonald73 commented on #61
Luca and I went into the lab to download the Code V software off one of the lab computers. We are still in the process of getting it onto our personal computers. Luca has run into some issues getting it to work, and we are trying to determine if it is an issue with Code V itself or a vpn issue

[2021-07-26 23:35] #62 closed, assigned to MichaelMcDonald73

[2021-07-26 23:35] #65 closed, assigned to MichaelMcDonald73

[2021-07-26 23:37] MichaelMcDonald73 commented on #97
Nic has confirmed that he has the parts, and we just need to schedule a time to retrieve them. Natalie has contacted Dr. Lubin to get us a space to begin testing the camera

[2021-07-27 00:14] PK0207 commented on #103
- [ ] Where does the variation come from? Look into the math to answer that question. What is the value on the graph?
- [ ] What does each dimension correspond to? In terms of physical source of the dimension.
- [ ] Variable detection is a possible use case

[2021-07-27 00:29] EdgarMao commented on #78
Commit #89 was made to improve the existing codes to high pylint standards without interfering with their functions. The next step would be to set up CI, I will be looking into that.

[2021-07-27 02:01] #30 closed, assigned to kyyip

[2021-07-27 02:05] #71 closed, assigned to nobody

[2021-07-27 18:07] PK0207 commented on #102
**NOTES FROM 7/21 meeting:**
To get both desired tables, the write option should be present in both?
In the version that Edgar has he can produce XRT and CAT at the same time and he doesn't run subtract.

Subtract seems to overwrite all of the overwrites all of the data

But my issue is that I can't have both at the same time because I run subtract

Output of command is PRIMARY - refers to residua

[2021-07-27 18:46] EdgarMao commented on #102
Some testings on my end revealed some different issues:

While I am able to run `extract` multiple consecutive times without problem like PK described, I receive an error (ValueError: array must be 2-d) when trying to run `subtract` before `extract`. This problem is most likely due to the strange output of subtract when I run sdi on my end:

If I run something along the lines of `sdi read align su

[2021-07-27 18:52] PK0207 commented on #101
**NOTES FROM MEETING 07/21 - getting rid of nans**
ref.py - line 114 onwards (for norm_sources branch) is possibly where the nans come from, need to change to 0s.

nans could also be coming from within the database, in which case it would be nice if we can replace those nans with 0s in ref.py

Use pdb.set_trace() to traverse the output table and other outputs in ref more easily (look up usage)

[2021-08-02 22:48] nlynn opened #108 "Simulate Set for NN Magnitude Boundary"
The point of these images is to determine the magnitude boundaries of transient detection with neural networks.

**All images:**

- 400x400 pixels
- 10 sec integration to start, then repeat with 1sec, 30sec, 60sec, 120sec (will probably make another issue for this)
- 1 variable star
- Sparse density for now (will need to repeat with denser fields)
- 2 images (eg one image with variable at 16 mag,

[2021-08-03 10:34] PK0207 commented on #103
Got the entire script working with LCO images (Don't run on more than 20 images, runs slow and no point for our testing purposes). Tested on section 18 newer images and not much variability to discuss. Moving on to see how to check for where each PC comes from, and:

- [ ] Test on simulated RR Lyrae images
- [ ] Test on Real PTF images

[2021-08-04 17:57] PK0207 commented on #87
Files for testing are in /home/bfogiel/issue_87. This includes 10 simulated images, and the original csv file for the variable star
**Reading the .csv file**

row = np.genfromtxt('lc_GTAnd.csv',delimiter='\t')
time = []
magauto = []
magerr = []
for row in data:
    time.append(row[0])
    magauto.append(row[1])
    magerr.append(row[2])

**The resulting data**
The resulting images should have the

[2021-08-04 17:58] PK0207 opened #109 "Flux not loaded into resulting CAT table (Simulated images)"
flux not loaded into resulting CAT table after everything is run through the pipeline, will run again to see if this is a recurring issue.
EDIT: Happened again on the second run. This does not happen to normal files run through, and has not happened before so I don't know what's going on.

_Originally posted by @PK0207 in https://github.com/ucsbdeepspace/sdi_pipeline/issues/87#issuecomment-8786889

[2021-08-04 18:00] PK0207 commented on #109
Files for testing are in /home/bfogiel/issue_87. This includes 10 simulated images, and the original csv file for the variable star

**Reading the .csv file**

row = np.genfromtxt('lc_GTAnd.csv',delimiter='\t')
time = []
magauto = []
magerr = []
for row in data:
    time.append(row[0])
    magauto.append(row[1])
    magerr.append(row[2])`

**The resulting data**
The resulting images should have th

[2021-08-05 10:46] PK0207 commented on #109
Retry yesterday came back with empty tables for some reason. So issue still stands.

[2021-08-05 12:16] PK0207 commented on #82
ref.py fixed so there are no Nans, subtract fixed so that CAT isn't over written. PTF_norm.py finds magnitudes for ALL stars in the image.

- Added a bunch of try except ValueError loops so that if ref data and cat data aren't the same length they will still be able to run through. Basically truncated whichever is longer.
- Why is data being dropped? Where is data being dropped? How does one becom

[2021-08-05 12:17] #102 closed, assigned to PK0207, EdgarMao

[2021-08-06 18:29] nlynn commented on #98
Sparse: 0.58 arcsec per pixel, ~200 sources (Use stuff.conf starfield on, starcount in sky_a.conf is 0)
Medium: 0.58 arcsec per pixel, ~ sources (Use stuff.conf starfield off, starcount in sky_a.conf is __)
Dense: 0.58 arcsec per pixel,

[2021-08-09 11:37] PK0207 commented on #82
Magnitudes are probably weird because there are a lot of places where there was no data found for g_rp_g, g_bp_g, and ref_mag were not found.

- [x] Make it so that gaia_mag_transformed is only calculated for the sources where all four values: cat_flux, g_rp_g,g_bp_g, and reg_mag are defined (i.e. non-zero)
- [ ] Rename the new hdu CAT, and delete the old CAT
- [x] Also, the except ValueError does

[2021-08-09 18:36] YaelBB commented on #39
Statistical data was generated twice and classified by minimal galactic structure or low-moderate galactic structure; this was determined based on visual proximity to the galactic center. The standard deviations below for every section investigated clearly demonstrate that in all cases Adaptive Bramich provided more precise results than Bramich.

Minimal Galactic Structure:
Section 33: Bramich STD

[2021-08-09 20:59] agthomas-ucsb opened #112 "Move main SDI to /home/starmaker"
Change the default so importing SDI imports from Starmaker's installation. This allow Varun to work on his own version without impacting the rest of the project and Starmaker's installation can be scripted to pull the latest version from GitHub every 24 hours so we ensure it stays seamlessly up to date and centralized in an easy location.

[2021-08-09 21:26] agthomas-ucsb opened #113 "Check /path/to/output when running pipeline"
Currently if you specify an output directory that does not exist the pipeline will run its whole duration then when it tries to write it will have a breakdown and error out in a very unceremonious way. We should either 1) check output first when the write command is present and error out then (this would be strange since the pipeline is sequential) 2) prompt the user to type a new directory if it

[2021-08-09 21:39] agthomas-ucsb commented on #78
![image](https://user-images.githubusercontent.com/82772028/128777911-530b315c-b533-4256-8042-c4486de26640.png)
Stuff like this (line 25 and line 16) should be standardized for readability and cohesiveness.

[2021-08-10 00:35] kyyip opened #114 "Create a function that crops a set of fits files."
Might be useful when dealing with large image sets where there are too many sources for starmaker to process in a timely manner.  I have a script that does this in my directory named resize.py, but it has yet to be implemented as a proper function in the pipeline, and there may be room for improvement in the script.

[2021-08-10 00:46] PK0207 commented on #101
Add an output warning for when a data output table comes up empty. Make sure to add the reason why this might happen.

[2021-08-10 02:20] benfogiel commented on #109
I'm thinking that this is due to the fact that the variable star within the fits images in dir bfogiel/issue_87 varies closely around the mean of these images which causes subtract to output mostly blank fits images. When this star deviates enough away from the mean, subtract will output a non blank image of which the flux can be obtained (with the sample in bfogiel/issue_87, 2 images are not blan

[2021-08-10 11:59] PK0207 opened #115 "REF and CAT tables are not of the same length"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Ran `sdi read -d /home/pkotta/GTAnd_SCI/ align extract -w CAT 1 subtract extract ref write -d /home/pkotta/sditest_output/` on 08/07/21
2. Check the lengths of the output REF and CAT tables in a python terminal or however you wish.
3. Check the difference between the lengt

[2021-08-13 04:21] varun-magesh opened #116 "Create Authoritative Pipeline Version on Starmaker"
Currently, the pipeline lives in a random local directory in /home/varun. This is bad because I won't always be around, and sometimes when I forget to `git pull`, everything breaks.

Two part solution:
- [ ] move global pipeline to /usr/share/local or some other authoritative directory
- [ ] set up git hooks to automatically update it.

We might want to also publish to `pypi`. This might be a good

[2021-08-13 18:38] nlynn commented on #112
Same as issue #116

[2021-08-13 18:38] #112 closed, assigned to nobody

[2021-08-14 13:50] PK0207 commented on #82
c_best = np.linalg.lstsq(A, cat_flux, rcond=None)[0]
  File "<__array_function__ internals>", line 6, in lstsq
  File "/usr/local/lib/python3.6/dist-packages/numpy/linalg/linalg.py", line 2306, in lstsq
    x, resids, rank, s = gufunc(a, b, rcond, signature=signature, extobj=extobj)

Error shows up when handling the exception. When I run the lines manually on the same data this error doesn't come

[2021-08-14 16:54] benfogiel commented on #101
added warning message for empty reference table

[2021-08-14 16:54] #101 closed, assigned to benfogiel

[2021-08-16 23:05] EdgarMao commented on #78
After looking into setting up Pylint in the CI/CD pipeline, I realized that there are at least two quick problems that need to be solved before setting up the workflow:

- Is the pipeline using a specific version of python? Pylint currently defaults to python 3.9 when running any tests, but this can be changed by specifying the python version we want to use for testing.
- Are there any other thing

[2021-08-17 14:44] benfogiel commented on #109
Running extract with the default threshold value of 3.0, 18% of the bfogiel/issue_87/image_fits3 have fluxes. Lowering to a threshold value of 2.0, over 30% of the same set of images have fluxes

[2021-08-21 01:15] nlynn opened #117 "Observing Plans for Fall: Aug 2021-Jan 31st 2022"
For all images:
-10 sec integration time
-100 image count per filter
-Filters: SDSS u, g, i
-Images should be taken every 2 weeks (preferably).
-Having 5 observations of each section would be nice by the end of the run
-Focus on sections with existing data on Starmaker first

### M31 Aug-Feb

Sections: (Ideal sections that we'd get a backlog of data of--prioritize those that we already have data i

[2021-08-21 17:33] PK0207 commented on #82
It was a different error with incorrect dimensions because of the change made to gaia_mag_transformed (to only include values where all three ref data points were present). Fixed a few other dimensionality things and found that there were infinities being introduced (this was all for testing on 62.fits), found that it was from bad ref data (ref mag of 100+) so not super sure what to do there.
Then

[2021-08-22 00:35] YaelBB opened #118 "Compare Photutils and SEP Source Extraction"
Compare the source extraction using photutils and sep

[2021-08-22 21:06] PK0207 commented on #82
- Cat graph looks like a mess:
![image](https://user-images.githubusercontent.com/30590837/130364026-5cb5bea9-bd58-480f-838e-5a9d480e1812.png)
- Ref graph looks good
![image](https://user-images.githubusercontent.com/30590837/130364058-d6cd55b8-ebde-4632-8181-6bf4b34cb63f.png)

[2021-08-24 02:18] PK0207 commented on #82
gaia_mag_transformed looks ok (is the gaia data appmag or absmag? absmag because mag zeropoint is applied.)
In some images, the ref data looks ridiculous. Eg. image 32.fits, phot_bp_mean_mag is of the order 1e-310. Made a fix to only accept values between 0.5 and 25.
[http://slittlefair.staff.shef.ac.uk/teaching/phy217/lectures/principles/L04/index.html](url) <- Vega zero points used by Gaia. Can

[2021-08-24 14:41] PK0207 commented on #82
Testing a way to get all of the mags instead of missing some because of the refs because that doesn't make sense.
What I am doing is curve fitting based on the values found of cat_mag from the reference stars (kind of like calibration but not really).  The function used for curve_fitting is a*log10(flux)+b for just the curve (a rough estimate).
Checking the old mags, new mags, and the goodness of

[2021-08-24 18:27] nlynn commented on #106
Want to make this chart for each set of our data using [link](https://pjreddie.com/darknet/imagenet/):

![image](https://user-images.githubusercontent.com/49418225/130670113-f2c9d6a5-0873-44d9-b7f2-8d24a57854a5.png)

[2021-08-24 22:41] PK0207 commented on #82
- [x] Error analysis:

Equation mention in above comment for fluxerr gives LOWER BOUND for error.

- [ ] When writing click command, open images with mode='update', and then:
for i in images:
    norm(i)
    i.flush()

 then save and write the hdul.
Read the following:
- [ ] Check for correct calibration ([photometric](http://slittlefair.staff.shef.ac.uk/teaching/phy217/lectures/principles/L04/ind

[2021-08-24 23:28] agthomas-ucsb opened #119 "Observing tasks"
Now that we are using filters on data (currently, SDSS infrared, green, and ultraviolet), this creates a problem in the pipeline. When it compares the two images with different filters, one appears to have more stars because of the improper comparison so we detect transients incorrectly. Therefore, we need a script that takes a directory and categorizes images by their filters.

- [ ]  Delete raw

[2021-08-24 23:40] nlynn opened #120 "Make sure pipeline can handle filtered data"
Historically we have taken data without filters and thus have not had to deal with comparing images taken in different parts of the near infrared and visible spectrum. Now that we are starting to take all of our images with filters to facilitate light curve creation, we need to update the pipeline and make sure that it can handle filtered image sets appropriately.

At the very least, the pipeline

[2021-08-27 23:59] PK0207 commented on #82
Changed the way cat_mag empty values are filled in. Only the empty values are filled in by the curve_fit optimization now.

- [ ] Check that optimization function is correct.

Results from phase_diagram.py:
Power graph:
![image](https://user-images.githubusercontent.com/30590837/131199119-1ff84709-80ee-46ea-9e95-c51cccaac0fb.png)
Phase diagram:
![image](https://user-images.githubusercontent.com/30

[2021-08-28 17:51] PK0207 commented on #82
Sorted times in increasing order because that's how the images are arranged, and therefore how the mags are arranged. The periodogram looked like that because it was such a minute frequency window we were looking at. For a larger window it looks fine:
![image](https://user-images.githubusercontent.com/30590837/131226167-1ab3cc51-cca5-4f78-a8e6-84ce5216d4d7.png)
Improvement: clear peak, less noise

[2021-08-29 01:02] JasperWebb commented on #77
@varun-iyer This issue stems from the FIXME/output issue Edgar fixed in #102 . Instead of rebuilding each hdul and dropping all but the primary HDU. Subtract now appends the new subtracted data to the original list. The fix was applied to ` norm-sources`.

[2021-08-30 07:52] JasperWebb commented on #119
![Filters sorted](https://user-images.githubusercontent.com/10064835/131304550-9940611d-ef7c-41be-a7ab-643df6aad182.JPG)

[2021-08-31 00:01] PK0207 commented on #82
Times don't match up exactly between PTF times and times from the hduls.

- [ ] Make sure that reference stars found are not on the edge. Maybe put this in ref.py

Try with 1 reference star (random number 37)
Not all images have 37 reference stars: 93, 62,43,30 <- normalized manually with ref[30]. Did not check which star each one was!

Plotted a histogram of differences between calculated magnitu

[2021-09-09 04:18] JasperWebb commented on #119
Sorted files located in `/mnt/annex/jasper/Filter_sorted/ `

[2021-09-12 00:41] agthomas-ucsb commented on #117
![m31 mosaic](https://user-images.githubusercontent.com/82772028/132967007-0d6c2d5e-d25d-4883-a59d-0ceed0039514.png)

[2021-09-12 01:40] kyyip opened #122 "Fits file naming schemes"
Given that we are working with fits files from various sources(ptf, lco, simulated), and these image sets have various naming schemes that differ from one another, I think it would make sense to try and establish a consistent fits file naming scheme.  There are two reasons for this.  One, we can avoiding sorting issues when loading fits files using 'read', in particular alphanumeric naming schemes

[2021-09-12 01:42] agthomas-ucsb commented on #117
Queued all sections checked and the first round of 7,8,9, 14

[2021-09-13 14:45] PK0207 commented on #82
![image](https://user-images.githubusercontent.com/30590837/133104749-06e2743f-028f-4eb0-8b15-c8222d4837ee.png)
Red: All sources
Green: Reference stars (converted RADEC to xy
Blue: Variable stars

Ref stars are not circled properly. I don't think the conv RD_XY code works.

[2021-09-13 22:33] #77 closed, assigned to JasperWebb, agthomas-ucsb

[2021-09-14 13:57] PK0207 opened #125 "Make vis.py a part of the pipeline tools."
**Is your feature request related to a problem? Please describe.**
Knowing what sources the pipeline finds, and with what efficacy is something that I often have to do,, and it's nice to visualize it on the image itself. So, the code that Kelvin made a while ago comes in handy but since it was made for only a couple people to use it isn't the most intuitive to use.

**Describe the solution you'd l

[2021-09-17 23:35] benfogiel commented on #109
investigating further, extracting the flux from bfogiel/issue_87/fits_images did not yield as good results as previously thought. Realized that I was including fluxes from sources that were of no interest. Getting the fluxes of the correct source: Threshold = 3, 16.8% had fluxes; Threshold = 1.5, 30% had fluxes.

[2021-09-17 23:43] benfogiel commented on #109
Now, using another set of images from /home/cole/sim_code/lightcurve_stuff/reg_RR/image_fits/ and extracting the flux we get a lot better results. Threshold = 3, 40% had fluxes, Threshold = 1.5, 43% had fluxes

[2021-09-26 22:08] PK0207 commented on #74
- [x] Find out what coord frame gaia is in

[2021-09-27 18:37] PK0207 commented on #74
Gaia coords are in ICRS frame

[2021-09-27 20:32] JasperWebb commented on #119
New order of sorting should be : Section > Filter > Date

[2021-09-28 00:45] PK0207 commented on #74
Add a check in ref.py to see what frame images are in, or add an input

[2021-09-28 00:45] varun-magesh opened #128 "Test Fuzzy Comparison Seems to Fail"
Test for extract and subtract seem to fail because of poor floating point comparisons, small header differences, and order differences.

1. Run `sdi test` on starmaker.

All tests pass.

[code]

last pull: 2021-09-27, today

[2021-09-28 00:46] PK0207 commented on #82
- [x] Threshold value needs to be bigger because images are so small

[2021-09-28 00:48] varun-magesh commented on #125
Closed, use case covered by `sdi display`.

[2021-09-28 00:48] #125 closed, assigned to PK0207

[2021-09-28 00:49] varun-magesh commented on #122
This is a great idea, what standard of naming would you propose?

[2021-09-30 05:25] benfogiel commented on #109
ran Cole's images with adaptive bramich and results did not differ much. threshold = 3: 41.67% threshold, threshold = 1.5: 45%

[2021-10-03 23:48] #70 closed, assigned to YaelBB

[2021-10-03 23:48] nlynn commented on #70
Adaptive bramich has been implemented--see the wiki for how to use

[2021-10-03 23:51] #72 closed, assigned to nobody

[2021-10-05 00:30] coleslenkovich commented on #108
Finished simulating set for 1 mag difference, 10 second integration time (path: /mnt/annex/cole/MLsim_code/mag_lims/1mag/10sec/)
Will continue with varying integration times

[2021-10-05 00:46] benfogiel commented on #109
Source: /home/cole/sim_code/lightcurve_stuff/reg_RR/image_fits/
Residuals (adaptive bramich): /home/bfogiel/output_t_3 AND /home/bfogiel/output_t_1.5
Note: ‘t_3’ and ‘t_1.5’ refers to the respective extraction thresholds

[2021-10-05 07:32] JasperWebb opened #129 "Creating a uniform way of dealing with HDU’s through the pipeline"
**Is your feature request related to a problem? Please describe.**
Currently each of the main scripts has a different method of saving/appending whatever changes are made within to the HDUL. Either completely overwriting the HDUL with a single HDU or appending to the beginning/end of HDUL. If the goal is to be as non-destructive , maintaining as much science data as possible, we should be appendin

[2021-10-05 07:42] JasperWebb commented on #129
HDUL's through the pipeline [Currently in norm_sources_merge]
idx---EXTNAME---HDUType---description)
**raw input (This is possibly just LCO's structure. I'm not sure about other data sources):**
- 0---Primary---PrimaryHDU---(default HDU, empty header and data)
- 1---SCI---CompImageHDU---(image data  and header cards)
- 2---CAT---BinTableHDU---(sources?)
- 3---BPM---CompImageHDU---(bad pixel mask)

[2021-10-05 08:02] JasperWebb commented on #129
Through the pipeline the format of the HDUL changes quite significantly.
1. Align -- In the output of `align `the original HDUL is overwritten with a single PrimaryHDU called 'SCI' This contains all of the header cards from the original image aswell as the aligned image data. I'm not sure if its necessary to keep CAT or BPM from the raw HDUL. I believe that by aligning the image the sources in CAT

[2021-10-10 21:55] coleslenkovich commented on #108
For higher exposure times (60 sec and above), increased saturation level from 89600 to 124000 since max pixel value was commonly being hit among brighter stars

[2021-10-12 00:12] nlynn opened #130 "22"

[2021-10-12 00:13] #130 closed, assigned to nobody

[2021-10-13 06:40] EdgarMao commented on #115
A quick note about an improtant problem with ref.py:

The threshold used for determining the size of the GAIA cone search (line 72-74 in norm_sources) and determining if the sources in GAIA and CAT match (line 95 in norm_sources) is the same variable. This should definitely not be the case, using the same variable here does not make sense. This might be a big part of the reason why ref.py has been

[2021-10-13 23:22] JasperWebb commented on #129
Approach -->
Align. add HDU called ALGN containing aligned data. Can be inserted in index 1 of hdul.
HDUL after Align.py would look like:

    0---Primary---PrimaryHDU---(default HDU, empty header and data)
    1---Aligned---ImageHDU---(Aligned image data and header cards)
    2---SCI---CompImageHDU---(image data and header cards)
    3---CAT---BinTableHDU---(sources?)
    4---BPM---CompImageHDU--

[2021-10-14 01:07] JasperWebb commented on #129
Subtract.  Subtracted data is inserted into HDUL in 1st index containing both data and header.
I had to edit `combine.py` to make it work. (changed the default parameters to point at "ALGN" header instead of "SCI")

![image](https://user-images.githubusercontent.com/10064835/137232944-5bf38fee-6323-4ab7-bd13-f2a1d30fd2e9.png)

[2021-10-14 06:33] JasperWebb commented on #129
This is the HDUL after read align subtract extract write. The file size is quite large (52MB)
![image](https://user-images.githubusercontent.com/10064835/137264035-59190a7d-bef3-42df-a6cb-a96eafbd6d28.png)

[2021-10-14 06:36] JasperWebb commented on #129
We could probably replace SCI with ALGN and drop the BPM and CAT table in index 4 as they're misaligned w.r.t ALGN & SUB

I'm not 100% sure of the difference between CompImageHDU and ImageHDU other than one is compressed.

[2021-10-14 18:14] agthomas-ucsb commented on #119
@JasperWebb How is this issue progressing? Should I review and close issue?

[2021-10-14 18:17] agthomas-ucsb commented on #117
Verified 22-24, and 30-33 were successful. Proceeding with second and third rounds for 7, 8, 9, 14 and queueing new sections.

[2021-10-14 18:21] agthomas-ucsb commented on #117
TimeAllocationError("An IPP Value of 1.05 requires more IPP time than you have available for 'NORMAL' Observation with the 0M4-SCICAM-SBIG . Please lower your IPP Value to <= 1.027 and submit again.")
while request v2 for 14, after 7, 8, 9 requested successfully.

[2021-10-14 23:35] JasperWebb commented on #119
@agthomas-ucsb Is it possible for you to run secID on all of the files in science_data. It would be handy to have them all updated with the proper section ID's before sorting. Does SecId the id to the header?

[2021-10-14 23:59] JasperWebb commented on #129
Changing all the ImageHDU's to CompImageHDU drops the processed file size to 16.5MB.
![image](https://user-images.githubusercontent.com/10064835/137408156-9ba138f5-0f38-4bc7-a29b-f341faafc4cf.png)

[2021-10-15 04:19] PK0207 commented on #129
Does this affect anything about the images functionally? Like how they are opened, read, edited, and visualized?
(Sorry not totally familiar with the difference bw CompImage and Image)

[2021-10-15 15:39] JasperWebb commented on #129
I found this in the docs:
https://docs.astropy.org/en/stable/io/fits/#working-with-compressed-files

[2021-10-16 01:29] agthomas-ucsb commented on #117
Fixed error by reducing IPP time to 1.00 (normal). For some reason it defaults to 1.05? Queued remaining requests for 7, 8, 9, 14 and three rounds for 15, 16, 17, 18.

[2021-10-18 02:14] JasperWebb opened #132 "Image data becoming misaligned from WCS after align."
### Issue
In the `align` script the image data is transformed to match a single image. The image that everything is matched to is the last image in hduls_list.   I don't believe that the **WCS coordinates** which are tied to the image data are updated to reflect the transformations carried out in `align`.
This could affect RA/DEC and other position dependent (catalog matching, etc..) things down s

[2021-10-18 18:10] benfogiel commented on #87
Finally got a light curve (figure below). It is not similar to the control image. This could be due to some tweaks that I made when calculating flux error, although, changing the flux error values does not seem to change the plot much. What was a bit odd was that there are not a lot of flux values, the source of this could be the clustering function (not sure though). Will need to review this with

[2021-10-18 18:12] benfogiel commented on #87
For reference, here is the control ima
![control](https://user-images.githubusercontent.com/52505296/137784632-56f4cd6f-37c5-410e-a362-f682ed4f290d.PNG)
ge

[2021-10-19 16:49] JasperWebb commented on #132
Maybe it would be possible to correct the WCS individually?
https://python4astronomers.github.io/astropy/wcs.html

[2021-10-19 20:17] benfogiel commented on #87
Getting the fluxes directly from the image results to the following gra
![pow_freq](https://user-images.githubusercontent.com/52505296/137983949-2e16a5ef-b998-4cc0-9f8b-97b4c72e747f.PNG)
ph

[2021-10-26 01:00] JasperWebb commented on #83
The files for unit testing will need to be regenerated for unit testing as the order of HDUL's has changed quite significantly with the most recent update to master.
@benfogiel

[2021-11-01 23:47] EdgarMao commented on #115
Current State of my fix for ref.py:

So far, my fix of ref.py now contains a better coversion method for RA and Dec of the soruces, and a proper way of thresholding, however there is still clearly a significant loss of sources in the REF table:

 - The images I used for testing my fix for ref.py is from the file `small_data`, for these images there are about 370-380 sources in their CAT table, and

[2021-11-02 00:09] JasperWebb commented on #129
Changes merged to Master

[2021-11-02 00:09] #129 closed, assigned to nobody

[2021-11-02 00:46] PK0207 commented on #115
Stuff to get started : -

Next step:
- Get coordinates transform merged in
Tests:
- length of zeros (number of sources not found)
- transformed magnitudes and compare to CAT (scatter plot on the same axes)
- Plot a lightcurve for a background star

[2021-11-02 00:49] agthomas-ucsb commented on #117
Ran out of hours before additional imaging could come back. We're considering requesting more but might be good for this year.

[2021-11-02 00:49] #105 closed, assigned to varun-magesh, agthomas-ucsb

[2021-11-02 00:49] #117 closed, assigned to agthomas-ucsb

[2021-11-06 22:16] agthomas-ucsb commented on #113
To the best of our knowledge, Daniel's code has the desired result without breaking anything. However, I only tested it once months ago and it was never pushed to master. Please review https://github.com/ucsbdeepspace/sdi_pipeline/commit/3e7be62c6fb368d58444c67ee95af1cb80d27464 to understand what the changes do and download the branch dp-113 (https://github.com/ucsbdeepspace/sdi_pipeline/tree/dp-1

[2021-11-07 00:41] JasperWebb commented on #132
LCO team calculate RA and dec from WCS information here.

https://github.com/LCOGT/banzai/blob/master/banzai/astrometry.py

[2021-11-07 01:38] PK0207 commented on #132
Goal: Keep track of which star is which as it goes through the pipeline Though align, subtract, and data from XRT don't need RA DEC data to run the function `sep.extract` , we need RA and DEC information for each star to be preserved so that any transformation won't result in misidentification of stars based on xy position.

Currently: LCO [CAT] has ra dec from BANZAI, PTF and likely other sources

[2021-11-07 02:10] EdgarMao commented on #115
The following is a plot of the locations of the catalog sources (the green dots) and the soures in REF (the blue plus signs). On the left hand side of this picture is the code used to make this plot and some information about the fits file used.

![Screenshot 2021-11-06 190735](https://user-images.githubusercontent.com/31234107/140629660-0c124a2c-2bd7-4ea7-95e7-c913d0e24406.png)

So far it seems l

[2021-11-07 02:39] PK0207 commented on #115
Could be worth making the cone radius of search smaller as we get closer to the edge. Masking removes edge effect I think.

Check that the reference frames are the same.

[2021-11-09 02:21] EdgarMao commented on #132
Quick question about our choice of reference frame:

What is the advantage of J2000? Are we choosing this because most of our current images are taken using this coordinate system?

[2021-11-09 19:16] PK0207 commented on #132
My personal reasoning is that it's a popular system that doesn't change, so our pipeline will remain standardized for longer.

[2021-11-12 03:41] coleslenkovich commented on #108
Caught integration time mistake in the half magnitude 60sec and 120sec images. Currently redoing sets

[2021-11-13 03:44] JasperWebb commented on #132
https://fits.gsfc.nasa.gov/fits_wcs.html

[2021-11-15 01:15] EdgarMao commented on #115
Current State of ref.py and its connection with issue #132:

My debugging process has revealed that the problem of this issue seems to be an emergent phenomenon due to a couple of problems in different parts of the pipeline. I have made my best attempt to ensure that ref.py itself functions as intended, and the changes I made to the script is recorded in the comments above. However, the changes in

[2021-11-16 19:59] PK0207 commented on #73
**TESTING in WCS_alignment branch**

Added RA/DEC information using pixel_to_skycoord, wrote out using:
`cat = fits.BinTableHDU(data=sources, header=header,
                                     name=extname, ver=extver)
        out_cols = cat.data.columns
        new_cols = fits.ColDefs([fits.column(name = 'ra',format = 'D',array=ra),fits.column(name = 'dec', format = 'D', array=dec)])
        new

[2021-12-16 23:03] PK0207 commented on #132
- Added ra dec information in output catalog information (extract), and hdul naming is also working
- ra and dec calculated in ICRS
- Fluctuations rarely exceed 1 arcsecond, which is the error we expect due to WCS fluctuations.
- Checked that RA DEC are correct by searching for the star in the SIMBAD database and comparing to our image visually (shown below), so that RA and DEC are accurate
![imag

[2021-12-26 06:58] PK0207 commented on #115
From updates to Alignment and ref, the CAT table seems to be consistently larger than the REF table. This is what we expect because there might be some sources that could not be found in the gaia database, but are in our catalogs, but given the nature of our query (coordinate matching) there cannot be sources from gaia that are not found in CAT.

I then reversed the query. Using RA DEC information

[2022-01-10 00:18] coleslenkovich commented on #108
FOR RAW SETS (ie. not subtracted)
Sets located at /mnt/annex/cole/MLsim_code/mag_lims/

Sets are further split into different categories in this directory in this order:
magnitude difference -> exposure time -> magnitudes -> lists and fits

[2022-01-10 00:22] coleslenkovich commented on #108
For magnitude labels in the raw sets:
For a 1 magnitude difference: magnitudes are correctly listed
for a .5 mag difference: divide labels by 10 (ie. a file labelled 60_65 includes 6 and 6.5 mag transient)
for a .25 difference: divide labels by 100 (ie. a file labelled 600_625 includes a 6 and 6.25 mag transient)

[2022-01-17 22:59] PK0207 commented on #73
Fixed:
![image](https://user-images.githubusercontent.com/30590837/149845636-ee435a54-5665-4e39-bbd3-2e067132ec9e.png)
![image](https://user-images.githubusercontent.com/30590837/149845645-aee95dbc-824f-422d-9c22-f75c1f118df3.png)

[2022-01-17 22:59] #73 closed, assigned to JasperWebb

[2022-01-17 23:10] PK0207 opened #134 "Choosing Reference stars"
**Describe the science task**
We are trying to investigate the nest method to choose reference stars. Choosing the right reference stars will give us a better result for determining the magnitude of the stars in our images. Then, we can use standard mag-to-flux equations to determine the magnitude of the star.

**Proposed Direction**
First, we should explore how to do this manually, so that we can

[2022-02-01 03:10] PK0207 commented on #134
Chose reference stars that were:
- Closest to the target star
- Non-variable
- brighter than the target star
Found magnitudes that seemed in the right range (16.7-17.5 reported, ours are 16.69 - 17.9),
linear fit from test run seemed to be accurate: <br>
![image](https://user-images.githubusercontent.com/30590837/151907381-55df84ec-9a97-4102-b1c8-8f7cad875b99.png)

TODO:
- Make sure ref stars are

[2022-02-01 03:13] EdgarMao commented on #134
A quick trial light curve

![lightcurve_trial1](https://user-images.githubusercontent.com/31234107/151907931-aa9ce2ae-70d3-4d6e-b7f1-0f7cd88626c1.png)

[2022-02-01 03:43] PK0207 commented on #134
PTF confirmed that the images are bias subtracted and flat-fielded

[2022-02-09 17:26] #68 closed, assigned to PK0207

[2022-02-09 17:28] #115 closed, assigned to EdgarMao

[2022-02-15 22:09] #118 closed, assigned to YaelBB

[2022-02-22 05:04] #83 closed, assigned to benfogiel

[2022-02-22 05:22] #80 closed, assigned to nobody

[2022-02-22 06:03] kyyip commented on #86
It's done!

[2022-02-22 06:03] #86 closed, assigned to kyyip

[2022-02-22 06:04] kyyip commented on #40
https://docs.google.com/document/d/14LekxnMYrxI07eclXDlTmzlE3rX6hrcGOUBeIhNdwGc/edit?usp=sharing

[2022-02-22 06:04] #40 closed, assigned to kyyip

[2022-02-22 19:31] #32 closed, assigned to PK0207, nlynn

[2022-02-22 19:32] PK0207 commented on #109
Not using simulated images anymore

[2022-02-22 19:32] #109 closed, assigned to PK0207, benfogiel

[2022-02-22 19:32] PK0207 commented on #87
Not using simulated images anymore

[2022-02-22 19:32] #87 closed, assigned to PK0207, benfogiel, coleslenkovich

[2022-02-22 19:40] PK0207 commented on #134
Method used for choosing reference stars:

- Reference stars are close to the target star. This limits the effects of differences in seeing across the image. A radius of 0.03 degrees finds us 24 reference stars when specifically using GTAnd images from PTF.
- Reference stars are non-variable. If they were variable then the photometry would be greatly affected and incorrect.
- Reference stars are b

[2022-02-22 19:40] #134 closed, assigned to JasperWebb, PK0207, EdgarMao

[2022-02-22 19:44] PK0207 commented on #82
Choosing reference stars issue has been resolved, and methodology has been changed to using a linear fit on the reference stars and using that to correct the target star magnitude. This is a simple photometric process. Now we need to ensure that the program is tested, and is written more efficiently. Currently, the program uses a lot of memory. Also, the click command norm_sources is not implement

[2022-02-22 19:44] PK0207 commented on #103
No longer relevant

[2022-02-22 19:44] #103 closed, assigned to PK0207, nlynn

[2022-02-22 19:46] PK0207 commented on #74
This is not possible, because we do not have WCS information for reference stars. WCS information tells us the location of the telescope and other alignment and distortion parameters necessary for conversion of radec to image xy.

[2022-02-22 19:46] #74 closed, assigned to nicoleclaire

[2022-02-23 04:06] JasperWebb commented on #76
A lot of what the new snr script does is also done in extract.

[2022-02-23 23:10] #76 closed, assigned to JasperWebb

[2022-03-01 01:54] PK0207 opened #137 "Normalizing multiple target stars"
Choosing reference stars issue has been resolved, and methodology has been changed to using a linear fit on the reference stars and using that to correct the target star magnitude. This is a simple photometric process. Now we need to ensure that the program is tested, and is written more efficiently. Currently, the program uses a lot of memory. Also, the click command norm_sources is not implement

[2022-03-01 02:07] PK0207 commented on #137
Steps (that I see so far):

1. in the `find_ref()` function,  make sure that we can either passs more than one target star through, or we will have to run it through a for loop.
2. The `photometry()` function can only run one star at a time. We could make a try except loop to run more than one target star through it.
3. `comp_coords` definition can be put in a for loop to run it over more than one

[2022-03-01 02:20] PK0207 opened #138 "Run LCO images of GT And through pipeline and try to reproduce the lightcurve"
**Describe the science task**

We want to run LCO images of GT And (the RR Lyra star we have from PTF) through the pipeline. The reason we want to do this is so that we can test the following:

- [ ] Roughly how long the pipeline takes with larger images with more sources
- [ ] See if the normalization method can be expanded to unfiltered images, and still reproduce the shape of the lightcurve (ba

[2022-03-01 02:22] PK0207 commented on #132
Resolved

[2022-03-01 02:22] #132 closed, assigned to nobody

[2022-03-01 02:23] PK0207 commented on #138
This issue is linked to Issue  #120

[2022-03-01 02:25] PK0207 commented on #122
I think maybe we can pull the date of images and source of images (PTF, LCO, etc.) and add that to the index naming scheme we have

[2022-03-01 02:27] PK0207 commented on #82
TODO:

- [ ]  Averaging method for corrections
- [ ] Make a function to find common coordinates between lists
- [ ] Make script memory efficient
- [ ] Make it so that we can run multiple target stars through at once
- [ ] Use a better variable for aperture in photometry
- [ ] Normalize ref_mags outside the for loop
- [ ] Run the script on the variable stars that the pipeline finds
- [ ] Make it so

[2022-03-01 02:30] PK0207 commented on #82
![image](https://user-images.githubusercontent.com/30590837/156093138-5d848ed2-f811-47d6-b61a-e5b3b25f0f43.png)
This is the resulting  lightcurve using PTF images  run through our pipeline. Red indicates the magnitudes calculated by PTF.

See here for more plots:
https://docs.google.com/presentation/d/1jWwEcMXRi3JeFrHxzDnDg347n7Dk1SO9RWHnHOPvS7c/edit?usp=sharing

[2022-03-03 20:37] nicoleclaire commented on #78
We have a working code to implement Pylint for git push, we just need to be certain on the threshold we're setting (right now it's set for 7).

[2022-03-03 21:21] coleslenkovich commented on #108
Subtracted Sets located at following path:
/mnt/annex/natalie/NewMLSimulations/residual/

Sets are further split into different categories in this directory in this order:
magnitude difference -> exposure time -> magnitudes -> lists and fits

[2022-03-03 21:42] coleslenkovich opened #139 "Generate Sets of Images with Various Artifacts"
(Low Priority)
**Issue Summary**
Generate fits file sets using Skymaker that have various possible sky artifacts. Want to see if we can simulate and subtract to find different transient objects than a transient star. Want to look into differences between different objects. We will start by simulating 10 sets each, with 1000 images per set. (May change later)

**Image parameters**
(Subject to Chang

[2022-03-03 21:46] coleslenkovich commented on #139
Asteroid sets completed using following code:

Completed Sets can be found in following path:

[2022-03-03 21:51] coleslenkovich commented on #139
After skimming papers mentioned above it seems that simulating realistic satellites will be extremely difficult (none of the papers mention the frequency that a satellite flashes at due to reflection from the sun). Will read in more detail to make sure I haven't missed anything.

Reed paper mentions a publicly available dataset from ESO that could potentially be used (at the very least to get an i

[2022-03-04 06:03] PK0207 commented on #138
secid identified the section to be 14, and we do not have images of that section, and as of right now Andromeda is not visible with LCO instruments we have access to. We can look into the other RR Lyra in things we can image. Alternatively, we can ask Scott to image the region in question.

[2022-03-09 19:26] varun-magesh opened #140 "QoL: `pip install` errors out; requires `numpy` and `setuptools_rust` to be installed beforehand"
On a clean pip install, we get errors and have to manually install `numpy` and `setuptools_rust`

1. Make a clean venv
2. `pip install --editable sdi/`

I expect the pipeline to install.
On mainline.

It's a minor quality of life fix, but it might be a pretty simple tweak to setup.py.

[2022-03-23 02:26] agthomas-ucsb opened #141 "pyds9 setup.py errors preventing the pipeline from installing"
Due to compatibility issues with pyds9, the pipeline is not installable. Additionally, I discovered sklearn is not mentioned in setup.py since this is a new addition. To fix the issue we will check if sklearn is installed and prompt the user to install and find a new way to install pyds9.

[2022-03-23 21:14] agthomas-ucsb opened #143 "GPU support for Subtraction and ZOGY consideration"
Our current iteration of subtraction does not implement GPU acceleration (meaning we are not using the graphics card). It only uses GPU acceleration for OIS on the local version for @varun-iyer. We will also consider replacing OIS with ZOGY, which may be faster and more accurate.

[2022-03-24 06:24] agthomas-ucsb opened #144 "Standarizing pipeline elements and removing artifacts of previous versions"
We will work this spring quarter to find quirks in the pipeline that we can remove to make it easier for internal and external use. One such example is "-r" vs "-n" for the read argument passed from the command line. Many elements of the pipeline are outdated and no longer useful. These should be removed to expedite the pipeline's processing speed and hit real time goals.

[2022-03-28 16:34] PK0207 commented on #137
Changed line 131 in mags.py to read:
target_coord = SkyCoord(ims[0]['CAT'].data['ra'],ims[0]['CAT'].data['dec'], frame= 'icrs',unit='degree')
to normalize every target star in the image. This will take a while, but the code should be able to run multiple target stars as of right now. As this runs I will confirm this.

[2022-03-28 19:11] agthomas-ucsb opened #146 "Tests"
We have currently created a number of tests for the pipeline accessible via `sdi test` which assess the version of the pipeline you are using to make sure it works correctly. These are powerful since we have set them up to run automatically when someone pushes to github. However, they’ve become outdated and need to be fixed up. Please contact @varun-iyer with any questions.

[2022-03-29 01:30] nlynn commented on #143
For [ZOGY](https://github.com/pmvreeswijk/ZOGY):

Want to understand:

- [ ] Efficacy: how well does it subtract compared to Bramich/Adaptive Bramich
- [ ] What is ZOGY doing? How does it perform subtraction? Compare to Bramich/Adaptive Bramich
- [ ] How long does it take to subtract? (With GPU support preferably)

[2022-03-29 19:52] nlynn opened #147 "Systematic Analysis of Computational Power of Putting an Image through the Pipeline"
We want an understanding of what each step in the pipeline takes computationally (ie. timing, ram usage, gpu/cpu usage, etc) for a given input image from LCO or one of Scott's. This is for both the regular SDI pipeline as well as other parts for Pi the Sky.

- [ ] Align
- [ ] Subtract
- [ ] Mask
- [ ] Segmentation
- [ ] Compression
- [ ] Extraction
- [ ] Light curve creation
- [ ] Etc

Want a pres

[2022-03-30 00:06] PK0207 commented on #137
1. Each function/step of normalization should be able to run either one or multiple targets through.
2. photometry(): when we run it on more than one target star, putting it through a for loop would run masking more than once on a single image which is redundant.  The rest of the function can take 1D arrays of x and y. No try except loop necessary. Luca's masking might be used to replace the maski

[2022-03-30 00:23] PK0207 opened #148 "`mags.py` tests"
**Describe the science task**
Conduct tests on mags.py to see how varying parameters changes mags.py performance.

**Proposed Direction**

- [ ] Is mags.py performance better than PTF mags calculations? (More open ended)
- [ ] Does varying exposure time in aperture photometry affect magnitude calculation? (It should not, so this would point out a flaw in logic...possibly)
- [ ] Investigate how var

[2022-03-31 17:23] PK0207 opened #149 "Flow chart of Pipeline Functionality"
**Describe the science task**
We would like to make a flow chart of how data moves through and is transformed by the pipeline. This makes keeping track of the logic easier, and also makes catching mistakes or places for improvement easier.

**Proposed Direction**
I think narrowing the flow chart down to keeping track of what we are doing programmatically to the data, and what we are adding on. Ano

[2022-04-03 19:52] PK0207 commented on #137
Made the changes of steps 3 and 4, but the IndexError remains. I don't know why though.

[2022-04-03 22:34] agthomas-ucsb commented on #113
@katiesheng and I tested and confirmed this code still works with the latest pipeline version. Pushing to master.

[2022-04-03 22:34] #113 closed

[2022-04-03 22:36] agthomas-ucsb opened #150 "Observing for Spring 2022A (LMC)"
For all images:
-10 sec integration time
-100 image count per filter
-Filters: SDSS u, g, i
-Images should be taken every 2 weeks (preferably).
-Having 5 observations of each section would be nice by the end of the run
-Focus on sections with existing data on Starmaker first

LMC Aug-Mar RA/DEC: 05:23:35/-69:45:22
Sections: (Ideal sections that we'd get a backlog of data of--prioritize those that

[2022-04-03 22:44] agthomas-ucsb commented on #141
Addressing issue on branch setup_sklearn

[2022-04-03 23:22] EdgarMao opened #151 "Spring Code Cleaning"
It's spring time! An overall code clean up is long overdue. Let's all take some time to organize our pipeline and improve our coding standards. The following is a list of things we need to do for spring cleaning, feel free to comment on this issue to add to the list.

**Code Standard Improvement**
Improve the pylint scores of all scripts:

- [x] align
- [x] combine
- [x] fitsio
- [x] secid
- [x] _

[2022-04-04 01:36] JasperWebb opened #152 "Looking into Astrometry.net"
I would like to look into using Astrometry.net so generate WCS information.
It looks like they can provide a list of sources also.
### https://astrometry.net

**From their website:**

[2022-04-04 17:31] PK0207 commented on #137
Caught the error: target is being shortened by removing wherever there are zeros in target['x'], but ims are not being shortened to have those same indices. Change solved that error.

[2022-04-04 18:17] PK0207 commented on #137
Rearranging code so that the instrumental magnitude for comp_stars are calculated before the target instrumental magnitude so that a comparison can be made between them to find reference stars that are brighter than the target star. First, and second run through worked.

[2022-04-04 18:23] PK0207 commented on #137
Taking a look at the fit plots to see how well the fit worked:
lol no
![image](https://user-images.githubusercontent.com/30590837/161607022-6e285882-87d1-44e8-93d7-b481aa09e970.png)
Second one is better
![image](https://user-images.githubusercontent.com/30590837/161607100-2049cf86-ea07-459f-9037-e67c6d768d53.png)

Most of them look like the first one, so that's no good.

[2022-04-05 03:18] JasperWebb opened #153 "Error with FitsIO checking if directory exists"
The recent commit to fitsIO is throwing an error now when I run the pipeline as I normally would.
I believe the new addition is a check to see if the directory already exists. However, I've found that if the directory already exists the isFile check still returns False. Maybe there is a isDirectory function in OS that we should be using instead.
I'm running the most recent version of master in my

[2022-04-05 03:28] JasperWebb commented on #153
Changed os.path.isfile() to os.path.isdir() and now it works as intended.

[2022-04-05 03:28] #153 closed, assigned to JasperWebb, agthomas-ucsb

[2022-04-05 17:17] PK0207 commented on #137
Increasing the search radius to 0.04 (from 0.03) fixes this problem. It is clear that developing an adaptive method to find reference stars is essential.

[2022-04-05 17:27] PK0207 commented on #137
The errors are still large, so checking if increasing the radius to 0.05 helps (for the first three stars)

[2022-04-05 21:49] JasperWebb commented on #152
LCO uses this approach for astrometric calibration.

https://github.com/LCOGT/banzai/blob/master/banzai/astrometry.py

[2022-04-10 23:14] agthomas-ucsb commented on #151
Testing with some exemptions can be accessed via:
`pylint --rcfile=/etc/pylintrc --ignored-classes=astropy.units secid.py FILENAME`

[2022-04-12 03:02] nlynn opened #157 "Standardization of Pipeline Inputs"
We need to standardize images that get put into the pipeline, especially with regard to the headers. This can start as a simple check script to make sure that the images being put in are in the correct form, telling the user to alter their input if not.

[2022-04-12 20:39] coleslenkovich opened #158 "Standardize Formatting of Simulated Fits Images"
**Fix Simulated Data Output to Better Model HDUL Format From LCO**
Our current simulated images put all information into the primary HDU of the fits file. We should restructure how this data is stored into the files such that the HDUL models that of the data we receive from LCO. This should help limit issues with future updates to the pipeline, since the data should be treated in the same way LCO

[2022-04-12 20:40] coleslenkovich commented on #158
I have created code that will reformat previously constructed simulated images into the LCO format. Currently working on getting this set up for future images.

[2022-04-12 20:41] #90 closed, assigned to coleslenkovich

[2022-04-12 21:19] JasperWebb commented on #152
I was able to add a WCS pointing solution to one of Scotts images. http://nova.astrometry.net/user_images/5801119#annotated

[2022-04-14 15:02] JasperWebb commented on #158
Awesome. This looks really good. Can you share a folder containing pre and post fix files?
Let me know if you have any more questions.

[2022-04-14 20:18] coleslenkovich opened #159 "TypeError in Align"
**Align Generates a TypeError when Running Master Pipeline**
When running fits images through our master pipeline, some of us are experiencing a TypeError with the data. The issue seems to occur in astroalign, when called in the Align function. The function is find_transform, error occurs on line 221. (Screenshot below)

**To Reproduce**
Run following line:
sdi read -d /path/to/fits/ align subtrac

[2022-04-15 04:48] JasperWebb commented on #159
I've tried running the nebula version of the pipeline with the Command line arguments:
sdi read -d ~/Desktop/Fits/raw/ align subtract -m numpy extract write -d ~/Desktop/Fits/processed

I'm getting this same error

[2022-04-15 05:23] JasperWebb commented on #159
I created a branch of the Master branch into my VENV and the pipeline ran as expected.
Running the pipeline from a new terminal window causes the crash shown by Cole above.

[2022-04-15 05:26] JasperWebb commented on #159
@agthomas-ucsb Can you look into this please.

[2022-04-18 00:00] PK0207 commented on #158
Would the code be applicable to standardizing any image input?

[2022-04-18 00:06] PK0207 opened #161 "Lightcurve Database"
**Is your feature request related to a problem? Please describe.**
As of right now, lightcurves are written into individual csv files, and ideally we would store them in a database for ease of access.

**Describe the solution you'd like**
The database should consist of one table, the lightcurve table. The columns would be magnitude, magerr, and time in MJD. This would also require adding to the ma

[2022-04-19 00:04] JasperWebb opened #162 "KeyError in snr_function if HDUL does not contain "CAT" HDU"
**Describe the bug**
We get KeyError in line 42 of snr_function if a HDUL without a bintable named "CAT" is passed in.
The "CAT" table is currently generated for us by LCO. Other sources of data, e.g. PTF, Scott, do not have this table. We should either write the snr value to a different location or implement a check for the "CAT" table. Creating one if it doesn't exist already.

**To Reproduce**

[2022-04-19 00:08] PK0207 commented on #162
If you run extract before subtract as follows:
`sdi read -d align extract -w CAT 1 subtract extract`
That writes the same catalog file as the PTF data. What we can do instead is make this a mandatory step in the standardization process, since any kind of analysis will require the data in CAT.

[2022-04-19 00:18] JasperWebb commented on #162
Align calls the snr_function currently. So it wouldn't make it to that extraction step unfortunately.  We would need to extract sources prior to aligning to match LCO's data structure.

[2022-04-19 20:59] coleslenkovich commented on #108
With new formatting of simulated files and the newly updated pipeline, the outcome of the residuals is a bit different compared to previous sets. This change occurs at the following in the residual sets and will continue with future residuals until further noted.

/mnt/annex/natalie/NewMLSimulations/residual/half_mag/30sec/110_115/residual_fits/Bramich/

Extract cannot be run on current simulation

[2022-04-21 00:22] langeleri opened #163 "General GPU Acceleration"
Longer term project:

Implement GPU acceleration into pipeline (something like Numba for CUDA gpus). GPU acceleration is currently being used for adaptive bramich but ideally, we would be able to accelerate all of our computational code (where appropriate). The goal of this task is to just figure out how to accelerate some basic computations so that we know how to do it.

[2022-05-04 00:05] Samuel-Salters commented on #148
### **Error Propagation**
The current error function propagates error through the fit function to find the error in each target magnitude put out by the mags.py function. The fit takes in an instrumental magnitude and corrects it using the equation of the fit line, which is essentially of the form m*x+b. The current method of error propagation uses the equation:

sigma = sqrt(sum(df/dxi * sigma_xi

[2022-05-04 23:26] npt4li6 commented on #161
https://www.tutorialspoint.com/sqlalchemy/sqlalchemy_core_creating_table.htm (tutorial I'm referencing)

First update of where I am at: ![image](https://user-images.githubusercontent.com/99652428/166841102-6e61d99d-37e8-4fa8-b3ee-c6caa18a1db2.png)

Questions: what type of input will magerr and time in MJD be? Also, are there other members I should work with on trying to work this out?

other tutor

[2022-05-11 05:40] Samuel-Salters commented on #148
The new error function takes into consideration the recommendation of the Taylor textbook on error analysis to deal with the relative uncertainties in the case of simple sums and products, as it better approximates the error. It is also a much more simple way of iterating the errors. The new error propagation method is as follows.
The first step creates the relative uncertainties for m and x in th

[2022-05-11 23:28] #159 closed, assigned to JasperWebb, coleslenkovich, agthomas-ucsb

[2022-05-16 20:02] JasperWebb opened #164 "Unable to pip install oisgpu stuff --Permission Denied--"
Unable to install the oisgpu stuff from the wiki in a fresh VENV. I'm getting permission denied error.

[code]

[2022-05-16 20:33] agthomas-ucsb commented on #164
GPU related configuration is not allowed in non-master branches. You must either test on master on master or use Starmaker's master as a development server to test.

[2022-05-16 20:33] #164 closed, assigned to varun-magesh, JasperWebb, agthomas-ucsb

[2022-05-16 23:17] varun-magesh commented on #164
wait why not... don't we want to be able to tinker with the GPU?

[2022-07-01 00:04] kyledereklam opened #165 "Slowdown Hotspots in Align.py"
**Describe the bug**
Align.py has hotspots that are extremely slow. Improving these locations would drastically speed up the program.

**Expected behavior**
Align.py takes around 6 seconds to run on a single fits.fz file, which could be improved.

**Screenshots**
![align_line_profile](https://user-images.githubusercontent.com/86321780/176797762-7cd51a2d-dd9c-4adb-91d4-a31f4e74c2e1.png)
![snr_funct

[2022-07-01 00:21] kyledereklam opened #166 "ZOGY packages reinstallation"
**Describe the bug**
ZOGY requires the install script to be run every time a new terminal is opened

**To Reproduce**
1. Start a new virtual pipeline
2. Go to the directory containing subtract.py, align.py etc.
3. Run the install_zogy_ubuntu.sh script
4. Open a new terminal window and start another new virtual pipeline
5. Run the pipeline with ZOGY as the selected subtraction algorithm
6. >ModuleN

[2022-07-01 00:37] kyledereklam opened #167 "OMP_NUM_THREADS not defined"
**Describe the bug**
The environmental variable OMP_NUM_THREADS is not defined, so ZOGY is sad unless you manually give it a number of threads to use.

**To Reproduce**
Run ZOGY with "nthreads = NONE"

**Expected behavior**
The following command should grab the optimum number of threads

**Additional context**
For now I just hardcoded the number of threads to be 5 but this could be a place where Z

[2022-07-01 21:33] langeleri opened #168 "LCO Observing Walkthrough"
New wiki entry to walkthrough the LCO observing process.

[2022-07-07 05:18] kyledereklam opened #169 "source-extractor not found"
**Describe the bug**
When attempting to run zogy subtract, the program tries to run source extractor but then gets the error that the file/directory is not found

**Screenshots**
The screenshot of the specific error on the command line for source-extractor
![image](https://user-images.githubusercontent.com/86321780/177696325-e6ffe26e-7ad9-4bed-991f-1376facc564f.png)

The command dictionaries that

[2022-07-07 05:30] kyledereklam opened #170 "What is the reference image in subtract"
**Describe the bug**
Not a bug, but I am not sure what the difference between the target image and the reference image is in the code.

So the template, which is what is used to subtract against the aligned science image is denoted by:
`template = combine(hduls, name)["PRIMARY"].data`
**What is combined?** I see it as like somehow combining(?) or doing something the images denoted with the default

[2022-07-08 01:23] agthomas-ucsb commented on #170
This issue was solved in meetings. The reference image is the median value of each pixel in the image stack.

[2022-07-08 01:23] #170 closed, assigned to Exkalamity

[2022-08-09 02:19] kyledereklam opened #171 "CUDA 11.7 Fails to Install"
**Describe the bug**
CUDA 11.7 cannot be installed because it fails at public GPG step in the installation guidelines outlined in [https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#ubuntu-installation](url)

**To Reproduce**
Follow the instructions up to the following command

The above command will fail with the error message

However running sudo cp /var/cuda-repo-ubuntu1804-

[2022-08-09 02:20] #166 closed, assigned to Exkalamity

[2022-08-09 02:20] kyledereklam commented on #167
Okay Alex told me we can try 120 threads

[2022-08-09 02:20] #167 closed, assigned to Exkalamity

[2022-08-09 02:21] kyledereklam commented on #169
Not considering Zogy anymore

[2022-08-09 02:21] #169 closed, assigned to Exkalamity

[2022-08-12 00:23] agthomas-ucsb commented on #171
Kyle, did my work Wednesday resolve this issue?

[2022-08-19 21:41] Sewhitebook opened #172 "Astrometry, Plate Solving, WCS Matrices"
Description:
Astrometry is done to measure the position of the stars and match our data with existing catalogs.

Direction:
We will retrieve images of the corresponding portion of the sky from the Gaia catalog and match it to our images.

Results:
In the end our data should yield a WCS matrix that describes how the images transform to fit on the sky properly.

Resources:
Gaia Archive- https://gea.

[2022-08-24 16:58] Sewhitebook commented on #172
http://astro.physics.uiowa.edu/~kaaret/2018s_a4850/Lab05_astrometry.html

This link does a pretty good job explaining WCS.

[2022-10-20 05:45] agthomas-ucsb commented on #117
To date we have data from: 11, 13, 23, 24, 31, 32, 33, 38, 40, 41, 42, 47
It seems 30 was never downloaded from LCO

[2022-11-16 18:16] #172 closed, assigned to Sewhitebook